<h1>Editar a Tarefa</h1>

<%= render 'form', tarefa: @tarefa %>

<%= link_to 'Mostrar', @tarefa %> |
<%= link_to 'Voltar', tarefas_path %> |
<%= button_to 'Apagar', @tarefa, method: :delete, data: { confirm: 'Você tem certeza que deseja apagar?' } %>
